.main{
    display: flex;
    justify-content: center;
}
.formResurrectionPassword{
    transform: translateY(100px);
    width: 770px;
    height: 684px;
    background: white;
    border-radius: 15px;
    box-shadow: 0px 4px 96px rgba(10, 9, 75, 0.21);
}
.container__header{
    background:linear-gradient(90.01deg, #2A8BF2 0.01%, #0A6CD6 99.99%) ;
    height: 144px;
    border-radius: 15px 15px 0 0;
    display: grid;
    justify-items: center;
    align-items: center;
}
.header{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    color: white;
}
.container__body{
    height: 315px;
    display: grid;
    grid-template-rows: repeat(3,85px);
    grid-gap: 30px;
    margin: 50px 50px 40px 50px;
}
.footer{
    background: #0B6DD7;
    border: 2px solid #0B6DD7;
    border-radius: 10px;
    width: 670px;
    height: 85px;
    margin: 0 50px;

    font-family: Montserrat;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    color: white;
}